<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spider.scrawl.provider.dao.mapper.ItemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.spider.scrawl.provider.dao.entity.ItemInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_code" property="itemCode" jdbcType="VARCHAR" />
    <result column="item_desc" property="itemDesc" jdbcType="VARCHAR" />
    <result column="item_cname" property="itemCname" jdbcType="VARCHAR" />
    <result column="item_ename" property="itemEname" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="INTEGER" />
    <result column="item_len" property="itemLen" jdbcType="VARCHAR" />
    <result column="item_remark" property="itemRemark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_code, item_cname, item_ename, item_desc, item_type, item_len, item_remark, create_time, create_user_id, update_time,
    update_user_id, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from item_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from item_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spider.scrawl.provider.dao.entity.ItemInfo" >
    insert into item_info (id, item_code, item_cname, item_ename, item_desc,
      item_type, item_len, item_remark, create_time,
      create_user_id, update_time, update_user_id,
      delete_flag)
    values (#{id,jdbcType=BIGINT}, #{itemCode,jdbcType=VARCHAR}, #{itemCname,jdbcType=VARCHAR},#{itemEname,jdbcType=VARCHAR},#{itemDesc,jdbcType=VARCHAR},
      #{itemType,jdbcType=INTEGER}, #{itemLen,jdbcType=VARCHAR}, #{itemRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
      #{createUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=DATE}, #{updateUserId,jdbcType=BIGINT},
      #{deleteFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.spider.scrawl.provider.dao.entity.ItemInfo" >
    insert into item_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="itemCname != null" >
        item_cname,
      </if>
      <if test="itemEname != null" >
        item_ename,
      </if>
      <if test="itemDesc != null" >
        item_desc,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="itemLen != null" >
        item_len,
      </if>
      <if test="itemRemark != null" >
        item_remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCname != null" >
        #{itemCname,jdbcType=VARCHAR},
      </if>
      <if test="itemEname != null" >
        #{itemEname,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null" >
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="itemLen != null" >
        #{itemLen,jdbcType=VARCHAR},
      </if>
      <if test="itemRemark != null" >
        #{itemRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spider.scrawl.provider.dao.entity.ItemInfo" >
    update item_info
    <set >
      <if test="itemCode != null" >
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCname != null" >
        item_cname = #{itemCname,jdbcType=VARCHAR},
      </if>
      <if test="itemEname != null" >
        item_ename = #{itemEname,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null" >
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="itemLen != null" >
        item_len = #{itemLen,jdbcType=VARCHAR},
      </if>
      <if test="itemRemark != null" >
        item_remark = #{itemRemark,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spider.scrawl.provider.dao.entity.ItemInfo" >
    update item_info
    set item_code = #{itemCode,jdbcType=VARCHAR},
      item_cname = #{itemCname,jdbcType=VARCHAR},
      item_ename = #{itemEname,jdbcType=VARCHAR},
      item_desc = #{itemDesc,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=INTEGER},
      item_len = #{itemLen,jdbcType=VARCHAR},
      item_remark = #{itemRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=DATE},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getListByKeyWord" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from item_info
    where item_cname like concat('%',#{keyWord},'%')
  </select>

  <select id="getListByItemCodeAndCname" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from item_info
    where item_code = #{itemCode}
    and item_cname = #{itemCname}
  </select>


  <select id="getByIdList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from item_info
    where  id IN (
    <foreach collection="idList" item="item" separator=",">
      #{item}
    </foreach>
    )
  </select>



</mapper>